{% extends 'base.html' %} {% block head %}
<title>Asistencias</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/asistencia.css') }}"> {% endblock %} {% block content %}
<form action="" method="POST" target="_self" style="width:1000px; height: 800px; padding-top: 20px;">
    <div id="filtro-box" style="padding: 20px 80px 80px 80px; position:relative; width:1000px; text-align: center; border: 3px solid black; background: #ff4949;">
        <label for="fecha-box">Fecha:</label>
        <input type="text" id="fecha-box" name="fecha-box" placeholder="2019-11-21" readonly style="margin-right: 100px;">
        <label for="grado-box">Grado:</label>
        <select id="grado-box" name="grado-box" style="width: 150px; margin-right:20px;">
        {% for grado in grados %}
        <option value="{{ grado.codigo }}">{{ grado.etapa }} '{{ grado.seccion }}' {{ grado.nivel }}</option>
        {% endfor %}
    </select>
        <input type="submit" name="action" value="Filtrar" style="width:70px;">
        <div style="position:absolute; bottom:25px; right: 450px;">
            <a href="">Registrar Asistencia</a>
        </div>

    </div>
    <div id="tablacontenido" style="padding: 80px 80px; border: 3px solid black; background: #ff4949;">
        <table style="align-content: center; width:850px;">
            <caption></caption>
            <thead>
                <tr>
                    <th id=" col_alumno " scope="col" style="width:500px;">Alumno</th>
                    <th id="col_asistencia " scope="col ">Asistencia</th>
                </tr>
            </thead>
            <tbody>
                {% for alumno in alumnos %}
                <tr>
                    <td headers="col_alumno ">{{ alumno.nombres }} {{ alumno.paterno }} {{ alumno.materno }}</td>
                    <td headers="col_asistencia "><input type="checkbox " id="asistencia-box " name="asistencia-box "></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>
<a href="{{ url_for( 'index') }} ">Regresar</a>
<input type="submit " id="btn-notas " name="btn-notas " value="Registrar "> {% endblock %}