{% extends 'base.html' %}
{% block head %}
<title>Cursos</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/niveles.css') }}"></link>
{% endblock %}
{% block content %}
<table>
<thead>
<tr>
    <th scope="col" id="col-codigo">Código</th>
    <th scope="col" id="col-nombre">Nombre</th>
    <th scope="col" id="col-opciones">Opciones</th>
</tr>
</thead>
<tbody>
    {% for curso in cursos %}
    <tr>
        <td headers="col-codigo">{{ curso.codigo }}</td>
        <td headers="col-nombre">{{ curso.nombre }}</td>
        <td headers="col-opciones"><a href="/eliminarCurso/{{ curso.codigo }}">Eliminar</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
<div>
    <form action="" method="post" target="_self">
        <field>
            <legend>Curso</legend>
            <label for="curso-box">Nombre:</label>
            <input type="text" id="curso-box" name="curso-box" required autofocus>
            <input type="submit" value="Registrar"> <a href="{{ url_for('profesores_cursos') }}">Regresar</a>
        </field>
    </form>
</div>
{% endblock %}