{% extends 'base.html' %}
{% block head %}
<title>Grados</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/grados.css') }}">
{% endblock %}
{% block content %}
<div id="sub-container1">
    <table>
        <thead>
            <tr>
                <th scope="col" id="col-codigo">Código</th>
                <th scope="col" id="col-etapa">Etapa</th>
                <th scope="col" id="col-seccion">Sección</th>
                <th scope="col" id="col-nivel">Nivel</th>
                <th scope="col" id="col-aula">Aula</th>
                <th scope="col" id="col-opciones">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for grado in grados %}
            <tr>
                <td headers="col-codigo">{{ grado.codigo }}</td>
                <td headers="col-etapa">{{ grado.etapa }}</td>
                <td headers="col-seccion">{{ grado.seccion }}</td>
                <td headers="col-nivel">{{ grado.nivel }}</td>
                <td headers="col-aula">{{ grado.aula }}</td>
                <td headers="col-opciones"><a href="/eliminarGrado/{{ grado.codigo }}">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <form action="" method="post" target="_self">
            <fieldset>
                <legend>Grado</legend>
                <label for="etapa-box">Etapa:</label>
                <select id="etapa-box" name="etapa-box">
                    {% for etapa in etapas %}
                    <option value="{{ etapa.numero }}">{{ etapa.nombre }}</option>
                    {% endfor %}
                </select>
                <label for="seccion-box">Sección:</label>
                <select id="seccion-box" name="seccion-box">
                    {% for seccion in secciones %}
                    <option value="{{ seccion.numero }}">{{ seccion.nombre }}</option>
                    {% endfor %}
                </select>
                <label for="nivel-box">Nivel</label>
                <select id="nivel-box" name="nivel-box">
                    {% for nivel in niveles %}
                    <option value="{{ nivel.numero }}">{{ nivel.nombre }}</option>
                    {% endfor %}
                </select>
                <label for="aula-box">Aula</label>
                <select id="aula-box" name="aula-box">
                    {% for aula in aulas %}
                    <option value="{{ aula.codigo }}">{{ aula.codigo }}</option>
                    {% endfor %}
                </select>
                
                <input type="submit" value="Agregar">
                <a href="{{ url_for('index') }}">Regresar</a>
            </fieldset>
        </form>
    </div>

</div>
<div id="sub-container2">
    <a class="option" href="{{ url_for('niveles') }}">
        <i class="fas fa-glasses fa-6x"></i>
        <p>NIVELES</p>
    </a>
    <a class="option" href="{{ url_for('secciones') }}">
        <i class="fas fa-user-friends fa-6x"></i>
        <p>SECCIONES</p>
    </a>
    <a class="option" href="{{ url_for('etapas') }}">
        <i class="fas fa-portrait fa-6x"></i>
        <p>ETAPAS</p>
    </a>
</div>
{% endblock %}