{% extends 'base.html' %}
{% block head %}
<title>Profesores</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/iprofesores.css') }}">
{% endblock %}
{% block content %}
<table>
    <thead>
        <tr>
            <th scope="col" id="col-dni">Dni</th>
            <th scope="col" id="col-nombres">Nombres</th>
            <th scope="col" id="col-paterno">Apellido paterno</th>
            <th scope="col" id="col-materno">Apellido materno</th>
            <th scope="col" id="col-celular">Celular</th>
            <th scope="col" id="col-correo">Correo</th>
            <th scope="col" id="col-opciones">Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for profesor in profesores %}
        <tr>
            <td headers="col-dni">{{ profesor.dni }}</td>
            <td headers="col-nombres">{{ profesor.nombres }}</td>
            <td headers="col-paterno">{{ profesor.paterno }}</td>
            <td headers="col-materno">{{ profesor.materno }}</td>
            <td headers="col-celular">{{ profesor.celular }}</td>
            <td headers="col-correo">{{ profesor.correo }}</td>
            <td><a href="/eliminarProfesor/{{ profesor.dni }}">Eliminar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('index') }}">Regresar</a>
<a href="{{ url_for('profesores') }}">Nuevo</a>
{% endblock %}