{% extends 'base.html' %} {% block head %}
<title>Etapas</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/niveles.css') }}"></link>
{% endblock %} {% block titulo%}
<h1 id="titulo" style="width:100%; display:inline-block; font:bold 50px/1.5 arial, helvetica, sans-serif; color:#999;">GESTION DE LOS NIVELES</h1>
{% endblock %} {% block content %}
<section style="margin-bottom: 20px;">
    <form action="" method="post" target="_self" style="width: 700px; margin:0 auto; background-color: white; padding:40px; color:#999; border-radius: 35px;">
        <fieldset style="padding:20px;">
            <legend><strong>NIVEL</strong></legend>
            <span>
                    <h3 style="margin:0 10px; display: inline; ">NOMBRE</h3>
                    <input type="text" id="nivel-box" name="nombre-box" style="width:300px; padding:10px; margin:10px 0px; font-size:0.8em; border: solid 1px #ccc;" required autofocus>
            </span>
            <span>
                    <input type="submit" value="Registrar" style=" margin: 0px 30px;  font-size:15px; background-color: #c10000;
                    color: #eeeeee; padding:14px 20px; border: none; ">
            </span>
        </fieldset>
        <section style="text-align: center; margin-top: 30px;">
            <a href="{{ url_for('grados') }}" style=" margin: 0px 15px; text-decoration: none; background-color: #c10000;
            color: #eeeeee; font-size:15px; padding:12px 20px;">Regresar</a>
        </section>
    </form>
</section>
<section id="tablaseccion" style="width: 1300px; margin:0 auto; background-color: white; padding:20px 20px 600px 20px; color:#999; border-radius: 35px;">
    <fieldset style="padding:20px; ">
        <legend><strong>REGISTRO DE LOS NIVELES</strong></legend>
        <table style="margin: 60px auto; width: 1000px;">
            <thead>
                <tr>
                    <th scope="col" id="col-numero" style="width: 110px; border-radius: 10px;">Número</th>
                    <th scope="col" id="col-nombre" style="width: 110px; border-radius: 10px;">Nombre</th>
                    <th scope="col" id="col-opciones" style="width: 110px; border-radius: 10px;">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for nivel in niveles %}
                <tr>
                    <td headers="col-numero">{{ nivel.numero }}</td>
                    <td headers="col-nombre">{{ nivel.nombre }}</td>
                    <td headers="col-opciones"><a href="/eliminarNivel/{{ nivel.nombre }}">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </fieldset>
</section>


{% endblock %}