{% extends 'base.html' %}
{% block head %}
<title>Etapas</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/niveles.css') }}"></link>
{% endblock %}
{% block content %}
<table>
<thead>
<tr>
    <th scope="col" id="col-numero">Número</th>
    <th scope="col" id="col-nombre">Nombre</th>
    <th scope="col" id="col-opciones">Opciones</th>
</tr>
</thead>
<tbody>
    {% for nivel in niveles %}
    <tr>
        <td headers="col-numero">{{ nivel.numero }}</td>
        <td headers="col-nombre">{{ nivel.nombre }}</td>
        <td headers="col-opciones"><a href="/eliminarNivel/{{ nivel.nombre }}">Eliminar</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
<div>
    <form action="" method="post" target="_self">
        <field>
            <legend>Nivel</legend>
            <label for="nivel-box">Nombre:</label>
            <input type="text" id="nivel-box" name="nombre-box" required autofocus>
            <input type="submit" value="Registrar"> <a href="{{ url_for('grados') }}">Regresar</a>
        </field>
    </form>
</div>
{% endblock %}